body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    color: #FFFFFF;
    background-color: #181818;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#headerContainer {
    display: flex;
    align-items: center;
    border-bottom: 4px solid slateblue;
    padding: 0 1vw;
    height: 10vh;
}

#navIcon {
    width: 2vw;
    height: auto;
}

.left {
    display: flex;
    margin-right: auto;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.left:hover {
    background-color: rgb(50, 50, 100);
    transform: scale(1.1);
}

.middle {
    display: flex;
}

.right {
    display: flex;
    margin-left: auto;
}

.column {
    display: flex;
    flex-direction: column;
}

#middleContainer {
    display: flex;
    flex: 1;
}

#navTabActive {
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 75, 150);
    width: 18vw;
    transition: all 0.7s ease;
}

.navTabHidden {
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 75, 150);
    width: 18vw;
    transition: all 0.7s ease;
    transform: translateX(-20vw);
}

.top {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-top: 3vh;
}

.bottom {
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
}

.navItem, .bottomHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1vh 0;
    border: none;
    background: transparent;
    color: #FFFFFF;
}

.navItem:hover {
    background-color: rgb(50, 50, 100);
}

.addProject {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    margin-top: 2vh;
    transition: all 0.3s ease;
}

.addProject:hover {
    transform: scale(1.1);
}

.active {
    background-color: rgb(50, 50, 100);
    /* transform: scale(1.1);
    width: 95.3%; magic number to avoid background overflow */
    font-size: medium;
}

#todoList {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex: 1;
    flex-wrap: wrap;
}

.modal {
    display: flex;
    flex-direction: column;
    border: 4px solid slateblue;
    height: 25vh;
    width: 25vh;
    border-radius: 12px;
    margin: 2vh;
    padding: 2vh;
}

#footerContainer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    height: 5vh;
}